@import './scss/_mixin.scss';

.app-header-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
  @include breakpoint(xs) {
    height: 45px;
    float: left;
  }
}

.app-header {
  background-color: #ef8d2b;
  height: 150px;
  padding: 20px;
  color: white;
  @include breakpoint(xs) {
    height: 60px;
    padding:10px 15px;
  }
}

.app-header-title {
  font-size: 1.5em;
  @include breakpoint(xs) {
    padding-top: 5px;
  }
 }

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer{
  position: fixed;
  height: 70px;
  bottom: 00px;
  background: rgba(80, 90, 90, 1);
  color: white;
  width: 100%;
  padding: 15px 0;
  .github-icon{
    height: 45px;
  }
  @include breakpoint(xs) {
    position: relative;
    height: auto;
    overflow: auto;
  }
}
.app-main{
  padding-top: 25px;
  padding-bottom: 135px;
  @include breakpoint(xs) {
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
.pointer{
  cursor: pointer;
}
.copied-label{
  right: 42px;
  top: 34px;
  height: 34px;
  display: block;
  padding: 6px 15px;
  color:#000;
  background: rgba(#f29a35, 0.5);
}
.last-update{
  font-size: 12px;
  color:#aaa;
}