@import './scss/_mixin.scss';

.app-header-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
  @include breakpoint(xs) {
    height: 45px;
    float: left;
  }
}

.app-header {
  background-color: #ef8d2b;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
  @include breakpoint(xs) {
    height: 60px;
    padding:10px 15px;
  }
}

.app-header-title {
  font-size: 1.5em;
  @include breakpoint(xs) {
    padding-top: 5px;
  }
 }

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer{
  position: fixed;
  height: 70px;
  bottom: 00px;
  background: rgba(80, 90, 90, 1);
  color: white;
  width: 100%;
  padding: 15px 0;
  .github-icon{
    height: 45px;
  }
  @include breakpoint(xs) {
    position: relative;
    height: auto;
    overflow: auto;
  }
}
.app-main{
  padding-top: 25px;
  padding-bottom: 135px;
  @include breakpoint(xs) {
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
.pointer{
  cursor: pointer;
}
.copied-label{
  right: 16px;
    left: 17px;
    top: 2px;
    height: 46px;
    color: rgb(0, 0, 0);
    background: rgba(#061b3d, 0.76);
    color: #fff;
    padding: 13px;
    text-align: center;
}
.last-update{
  font-size: 12px;
  color:#aaa;
}
.content-zone{
  border: 1px dotted #777;
  padding:10px;
  word-wrap: break-word;
  min-height: 150px;
}
.editor {
  border-left: dotted 1px #777;
  border-right: dotted 1px #777;
  border-bottom: dotted 1px #777;
  &-toolbar{
    background: #ddd !important;
  }
  &-input-control{
    padding:0px 10px 10px 5px;
    min-height: 150px;
  }
}
.btn-generate-password {
  position: absolute;
    top: 0px;
    height: 48px;
    right: 16px;
    width: 54px;
    border-radius: 0;
}