@import './node_modules/bootstrap/scss/bootstrap.scss';
@import './node_modules/react-select/scss/default.scss';
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import './scss/_mixin.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
